@tailwind base;

.button {
    @apply bg-button text-white no-underline rounded-lg shadow-lg text-sm py-2 px-5;
    color: white;

}

.is-outline {
    @apply bg-card border border-blue-300 text-blue-300;
}

.card {
    @apply bg-card p-5 rounded-lg shadow-sm;
    color: var(--text-default-colors);
}

.theme-light {
    --page-background-color: #F5F6F9;
    --card-background-color: white;
    --button-background-color: #47cdff;
    --header-background-color: white;

    --text-default-colors: #222;
}

.theme-dark {
    --page-background-color: #17181E;
    --card-background-color: #1F2027;
    --button-background-color: #59B6F9;
    --header-background-color: #1F2027;

    --text-default-colors: #fff;
}
@tailwind components;

@tailwind utilities;

